.skill{
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 3px;
    
}

.skill:hover{
    -fx-effect: dropshadow( three-pass-box, purple , 10.0, 0.0,0.0,0.0);
}

.skill:disabled, .skill:disabled > *{
    -fx-opacity: 1.0 ;
}

.skill-text{
    -fx-font-size: 22px;
    -fx-effect: dropshadow( three-pass-box, white , 3.0, 0.8,0.0,0.0);

}